@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    padding: 1rem 1rem;
    outline: #3B5BB3;
    font-size: large;
}

#btn {
    background-color: #655e85;
    border: 2px solid white;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: white;
    font-size: large;
    cursor: pointer;
}